.about {
  margin: 0 auto;
  padding: 20px 20px;
  max-width: 1366px;
}
.about h1,
h2,
p {
  color: #f7d5b1;
}

.about h1 {
  text-align: center;
}

.info {
  display: flex;
}

.aboutMe {
  max-width: 700px;
  flex-direction: column;
}

.current {
  max-width: 300px;
  flex-direction: column;
}

.ehh {
  flex: auto;
}

.icons {
}
.icons img {
  padding-right: 20px;
}

.mobile-about .icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mobile-about .icons img {
  padding: 10px 16px;
}

.mobile-about {
  display: flex;
  place-content: center;
  flex-direction: column;
  margin-top: 10px;
}
.mobile-about h1,
h2,
p {
  color: #f7d5b1;
}
.mobile-about h1 {
  text-align: center;
}
.mobile-about a {
  color: #f7d5b1;
  text-decoration: none;
  padding: 6px;
}
.mobile-about a:hover {
  color: #f1356d;
}
.mobile-about .info {
  flex-direction: column;
  padding: 0 10px;
}
