/* Base styling */
.home {
  display: flex;
  place-content: center;
  margin-top: 100px;
}

.text {
  display: flex;
  align-items: center;
}

.home a {
  color: #f7d5b1;
  text-decoration: none;
  padding: 6px;
}
.home a:hover {
  color: #f1356d;
}

/* Mobile view styling */
.mobile {
  display: flex;
  place-content: center;
  margin-top: 70px;
}
.mobile .text {
  padding: 0 10px;
}
.mobile a {
  color: #f7d5b1;
  text-decoration: none;
  padding: 6px;
}
.mobile a:hover {
  color: #f1356d;
}
